<% layout(`layouts/boilerplate`) %> 
<div class="row">
    <h1 class="text-center">New Bikerack</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/bikeracks" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="bikerack[title]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="bikerack[location]" required>
            </div>

            <div class="mb-3">
              <div class="form-file custom-file">
                  <input type="file" class="form-file-input" id="image" name="image" multiple>
                  <label class="form-file-label" for="image">
                      <span class="form-file-text custom-file-label">Choose image(s)...</span>
                      <span class="form-file-button">Browse</span>
                  </label>
              </div>
          </div>

              <div class="mb-3">
                <label class="form-label" for="capacity">Capacity</label>
                <div class="input-group">
                    <!-- //<span class="input-group-text" id="capacity-label"></span> -->
                    <input type="text" class="form-control" id="capacity" placeholder="0" name="bikerack[capacity]" required
                    aria-describedby="capacity-label">
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="bikerack[description]"></textarea>
            </div>
            
            <div class="mb-3">
                <button class="btn-success">Add Bikerack</button>
            </div>
        </form>
        <a href="/bikeracks">Back to Bike Racks</a>
    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('validated-form');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>







    