<% layout('layouts/boilerplate') %> 

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
            <div class="card shadow">
                <%# Using Cloudinary sizing feature on image %>
                <img src="https://res.cloudinary.com/ds2hafwml/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1655899208/Toronto%20Bike%20Racks/login-biketoronto-unsplash_skacvd.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                    <h6>Login</h6>
                        <form action="/login" class="validated-form" method="POST" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="" name="username" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="" name="password" required>
                            </div>
                            <button class="btn btn-success">Login</button>
                    </form>
                </div>
            </div>
    </div>
</div>


