<% layout('layouts/boilerplate') %> 
<h1>Register!</h1>
<form action="/register" class="validated-form" method="POST" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="" name="username" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="" name="email" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="" name="password" required>
    </div>
    <button class="btn btn-success">Register</button>
</form>